* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,
            rgba(162, 25, 252, 1)0%,
            rgba(3, 216, 255, 1) 100%) repeat-y;
    color: rgb(48, 48, 48);
    text-align: center;
}

section {
    padding: 20px;
    width: 400px;
}

h1 {
    font-size: 38px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-bottom: 22px;
}

h3 {
    font-size: 26px;
    margin-bottom: 22px;
}