* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,
            rgba(162, 25, 252, 1)0%,
            rgba(3, 216, 255, 1) 100%) repeat-y;
    color: #fff;
}


.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}


.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

input,
select {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(99, 99, 99);
    outline: none;
}

input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="submit"] {
    cursor: pointer;
    background-color: rgb(162, 25, 252);
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 18px;
}

input[type="submit"]:hover {
    color: rgb(162, 25, 252);
    background-color: #fff;
}


.accounts-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
}

table thead tr th {
    border-bottom: 2px solid #fff;
    padding: 15px 0;
    font-weight: 400;
}

table tbody tr td {
    padding: 15px 0;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.150);

}

.success {
    background: rgb(16, 146, 22);
    color: #fff;
    padding: 8px 5px;
    text-align: center;
}

.error {
    background: rgb(214, 7, 7);
    ;
    color: #fff;
    padding: 8px 5px;
    text-align: center;
}